/* Import external stylesheets for navigation and footer tools */
@import "../../components/nav.css";
@import "../../components/footer-tools.css";

/* Reset default margin for the body and set it to flex for layout */
body {
    margin: 0;
    display: flex;
}

/* Reset margin for h1 element */
h1 {
    margin: 0;
}

/* Styles for the header container */
#header-box {
    display: flex;
    flex-direction: column;
}

/* Styles for title and tools containers within the header */
#title-box, #tools-box {
    display: flex;
    height: 30px;
    width: 100%;
}

/* Styles for the title container with background color and padding */
#title-box {
    background-color: #2B7F7F;
    padding-left: 10px;
}

/* Styles for the tools container with background color and spacing */
#all-tools-box {
    display: flex;
    flex-direction: row;
}

/* Styles for the tools container with background color and space between items */
#tools-box {
    background-color: #15ACAC;
    justify-content: space-between;
}

/* Styles for the general button styling */
#button-tools {
    border-radius: 0%;
    border-style: none;
    width: 100%;
    height: 100%;
    background-color: #15ACAC;
    display: flex;
    justify-content: center;
    transform: transform 0.3s ease;
    cursor: pointer;
}

/* Styles for button on active state */
#button-tools:active {
    background-color: #2B7F7F;
}

/* Styles for button on hover state */
#button-tools:hover {
    background-color: #2B7F7F;
    transform: scale(1.6);
}

/* Styles for specific tools like mouse and eraser */
#mouse, #easer {
    align-self: center;
}

/* Styles for additional space in the tools box */
#space-tools-box {
    display: flex;
    width: 50px;
    height: 30px;
}

/* Styles for the title content with font properties and color */
#title-content {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Abel', cursive;
    color: white;
    background-color: transparent;
    border-style: none;
    border-color: none;
    border-width: 0;
}

#title-content:focus {
    border: 2px solid white;
    outline: none;
}

/* Styles for the buttons text box with spacing and width */
#buttons-text-box {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;
}

/* Styles for the main container of blocks and components */
#blocks-box {
    display: flex;
}

/* Styles for the block elements and end block with common properties */
.block-box, #block-end-box {
    height: 60px;
    width: 60px;
    background-color: white;
    cursor: pointer;
    transform: transform 0.3s ease;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

/* Put style into the border of the blocks */
#sequence-box .block-style {
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

/* Put style into the border of the black block*/
#sequence-box .block-style-black-box {
    border-style: solid;
    border-width: 3px;
    border-color: white;
}

/* Grow scale for block in cursor appoint to the block */
.block-box:hover {
    transform: scale(1.6);
}

/* Add border in the start block */
#block-start-box {
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

/* Styles for the main container of the application content */
#main-box {
    display: flex;
    margin-top: 60px;
    width: 100%;
    height: 100vh;
    padding-left: 100px;
    padding-top: 100px;
    padding-right: 100px;
}

/* Styles for the start block with background color and spacing */
#block-start-box {
    width: 60px;
    height: 60px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-around;
}

/* Styles for the start component within the start block */
#start-component {
    align-self: center;
}

/* Styles for a container with flex column layout and space around content */
.column-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Styles for the container of blocks with spacing and wrap property */
#blocks-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Styles for the confirmation and feedback titles with button properties */
#title-confirm, #title-feedback-correct, #title-feedback-wrong {
    border-radius: 0;
    border-style: none;
    background-color: #15ACAC;
    color: white;
    font-family: 'Abel', cursive;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

/* Styles for confirmation and feedback titles on hover state */
#title-confirm:hover, #title-feedback-correct:hover, #title-feedback-wrong:hover {
    background-color: #2B7F7F;
    transform: scale(1.4);
}

/* Styles for the sequence box with flex wrap property */
#sequence-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-content: flex-start;
}
