
@import "../../components/nav.css";
@import "../../components/footer-tools.css";

body {
    margin: 0;
    display: flex;
}

h1 {
    margin: 0;
}

#header-box {
    display: flex;
    flex-direction: column;
}

#title-box, #tools-box {
    display: flex;
    height: 30px;
    width: 100%;
}

#title-box {
    background-color: #2B7F7F;
    padding-left: 10px;
}

#all-tools-box {
    display: flex;
    flex-direction: row;
}

#tools-box {
    background-color: #15ACAC;
    justify-content: space-between;
}

#button-tools {
    border-radius: 0%;
    border-style: none;
    width: 100%;
    height: 100%;
    background-color: #15ACAC;
    display: flex;
    justify-content: center;
    transform: transform 0.3s ease;
    cursor: pointer;
}


#button-tools:active {
    background-color: #2B7F7F;
}

#button-tools:hover {
    background-color: #2B7F7F;
    transform: scale(1.6);
}


#mouse, #easer {
    align-self: center;
}

#space-tools-box {
    display: flex;
    width: 50px;
    height: 30px;
}

#title-content {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Abel', cursive;
    color: white;
    background-color: transparent;
    border-style: none;
    border-color: none;
    border-width: 0;
}
#title-content::placeholder {
    color: white;
}

#title-content:focus {
    border: 2px solid white;
    outline: none;
}

#buttons-text-box {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;
}

#blocks-box {
    display: flex;
}

.block-box, #block-end-box {
    height: 60px;
    width: 60px;
    background-color: white;
    cursor: pointer;
    transform: transform 0.3s ease;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

#sequence-box .block-style {
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

#sequence-box .block-style-black-box {
    border-style: solid;
    border-width: 3px;
    border-color: white;
}

.block-box:hover {
    transform: scale(1.6);
}

#block-start-box {
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

#main-box {
    display: flex;
    margin-top: 60px;
    width: 100%;
    height: 70vh;
    padding-left: 100px;
    padding-top: 100px;
    padding-right: 100px;
}

#block-start-box {
    width: 60px;
    height: 60px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-around;
}

#start-component {
    align-self: center;
}

.column-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#blocks-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

 #title-confirm, #title-feedback-correct, #title-feedback-wrong{
    border-radius: 0;
    border-style: none;
    background-color: #15ACAC;
    color: white;
    font-family: 'Abel', cursive;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;

}

#backtoprofile{
    border-radius: 0;
    border-style: none;
    background-color: #15ACAC;
    color: white;
    font-family: 'Abel', cursive;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;
    margin-left: -180px;
}

#title-confirm:hover, #title-feedback-correct:hover, #title-feedback-wrong:hover, #backtoprofile:hover {
    background-color: #2B7F7F;
    transform: scale(1.4);
}

#sequence-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-content: flex-start;
    overflow: hidden;
}

#soundModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#soundModal .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#soundModal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}


.modal-container{
    background-color: rgba(0, 0, 0, 0.861);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: none;
}

/* .modal{
    height: 50vh;
    width: 50vw;
    background-color: #fff;
    margin: auto;
    margin-top: 20vh;
} */

.modal-open{
    overflow:hidden
}
#exampleModal .modal-title {
    font-size: 20px; 
    margin-left: 425px;
}


.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    display: none;
    outline: 0;
  }
  
  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .modal-dialog {
  position: relative;
  width: auto;
  max-width: 80%; 
  height: 500px; 
  margin: auto;
  pointer-events: none;
  margin-top: 150px;
}
  
  .modal.fade .modal-dialog {
    transition: transform 0.3s ease-out, height 2.8s ease-out;
    transform: translate(0, -25%);
  }
  
  .modal.show .modal-dialog {
    transform: translate(0, 0);
    height: 80vh !important;
  }
  
  .modal-dialog-centered {
    min-height: calc(100% - (0.5rem * 2));
  }
  
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #000;
    border-radius: 0.3rem;
    outline: 0;
    height: 500px;
  }
  
  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
  }
  
  .modal-backdrop.fade {
    opacity: 0;
  }
  
  .modal-backdrop.show {
    opacity: 0.5;
  }

  #sound:hover{
    background-color: #2B7F7F;
    transform: scale(1.4);
  }
  
  .modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
  }

  #exampleModal .modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
    background-color: transparent; 
    border: none; 
    font-size: 30px;
}

  
  .modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
  }
  
  .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    margin-left: 450px;
  }
  
  .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
  }
  
  .modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
  }
  
  .modal-footer > :not(:first-child) {
    margin-left: 0.25rem;
  }
  
  .modal-footer > :not(:last-child) {
    margin-right: 0.25rem;
  }
  
  .modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
  }
  
.img-btn{
    border: none;
    background-color: transparent;
}

.img-btn:hover{
    cursor: pointer;

}

.image-container{
    margin-left: 20px;
}

#sheep:hover{
    background-color: #2B7F7F;
    transform: scale(1.4);

}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.modal-body img {
    max-width: 100%;
    height: auto;
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
}

.recordButton,
.historicButton {
    background-color: #2B7F7F;
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 100px;
    width: 200px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.recordButton:hover,
.historicButton:hover {
    background-color: #155555;
}

.importButton {
    margin-top: 10px;
}

#importRecording {
    border: none;
    background-color: #2B7F7F;
    color: white;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 100px;
    transition: background-color 0.3s ease;
}

#importRecording:hover {
    background-color: #155555;
}

/* Estilos para o modal da ovelha */
.sheep-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1050;
}

.sheep-modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    height: 550px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.sheep-modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.sheep-modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    margin-left: 135px;
    margin-top: -50px;
}

.sheep-close {
    background: transparent;
    border: none;
    font-size: 30px;
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
    margin-top: -40px;
    margin-left: 450px;
}

.sheep-modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}

/* Adicione mais estilos conforme necessário para o modal da ovelha */

/* Estilos para animação de fade */
.sheep-modal.fade {
    transition: opacity 0.3s ease;
}

.sheep-modal.show {
    opacity: 1;
}

.description_sheep {
    position: absolute;
    background-color: #2B7F7F;
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: none;
    z-index: 1;
}

#sheep:hover + .description_sheep{
    display: block;
}

.description_sound{
    position: absolute;
    background-color: #2B7F7F;
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: none;
    z-index: 1;
}

#sound:hover + .description_sound{
    display: block;
}

.description_easer{
    position: absolute;
    background-color: #2B7F7F;
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: none;
    z-index: 1;
}

#easer:hover + .description_easer{
    display: block;
}
.description_mouse{
    position: absolute;
    background-color: #2B7F7F;
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: none;
    z-index: 1;
}

#mouse:hover + .description_mouse{
    display: block;
}


/* ... Outros estilos ... */

/* Estilos para os retângulos */
.rectangle{
    width: 400px;
    height: 60px;
    background-color: #D9D9D9;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 20px;
    cursor: pointer;
}

.rectangle:hover{
    background-color: #D9D9D9;
    transform: scale(1.08);
}

.rectangle p {
    color: black; /* Cor do texto */
    font-weight: bold;
    text-align: center;
    font-size: 18px; /* Tamanho da fonte */
    margin-top: -50px; /* Remover margens padrão do parágrafo */
    padding: 15px; /* Adicionar preenchimento ao redor do texto */
}

.rectangle img {
    object-fit: cover; 
    margin-left: 315px;
}

#feedbackModal {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: #B2A9A9;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 7px;
    gap: 10px;
    top: 30%;
    left: 90%;
    width: 200px;
}

#feedback-title {
    color: white;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Abel', cursive;
}

.feedback-options {
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 1px;
    width: 150px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Abel', cursive;
    cursor: pointer;
}







